body {
    background-color: rgb(66, 66, 66);

}

.navebar {
    background-color: #333;
    padding-top:15px;
    width: 98,5%;
    height: 66px;
    font-size: 20px;
    padding-left: 1cm;
    padding-bottom: 10px;
    padding-right: 0px;
    border-color: #333;
    border-width: 7px;
    border-style: solid;
    border-radius: 20px;
    position: sticky;
    top: 0;
    
}

.bildnavebar {
    width: 40px; 
    height: 40px;
}
.bildhover {
    color: #f2f2f2;
    text-decoration: none;
    border-color: #333;
    border-width: 10px;
    border-style: solid;
    background-color: #333;
    border-radius: 0%;
}
.bildhover:hover {
    color: black;
    text-decoration: none;
    border-color: #3bb9e7;
    border-width: 10px;
    border-style: solid;
    background-color: #3bb9e7;
    border-radius: 0%;
}
.text {
    background-color: #333;
    font-size: 18px;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: #333;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    color: #f2f2f2;
    
}
.text1 {
    background-color: #3bb9e7;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: #3bb9e7;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    color: #f2f2f2;
    display: flex;
justify-content: center;
    
}
/* Create three columns of equal width */
.columns {
float: left;
width: 33.3%;
padding: 8px;
}

/* Style the list */
.price {
list-style-type: none;
border: 1px solid #eee;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
background-color: #111;
color: white;
font-size: 25px;
}

/* List items */
.price li {
border-bottom: 1px solid #eee;
padding: 20px;
text-align: center;
}

/* Grey list item */
.price .grey {
background-color: #eee;
font-size: 20px;
}

/* The "Sign Up" button */
.button {
background-color:;
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
.columns {
width: 100%;
}
}

/* Float four columns side by side */
.column {
float: left;
width: 464px;
padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
width: 100%;
display: block;
margin-bottom: 10px;
}
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: rgb(59, 59, 59);
color: white;
}

.fa {font-size:50px;}
.text2 {
background-color: #3ce726;
font-size: 24px;
margin-left: 50px;
margin-right: 50px;
border-color: #3ce726;
border-width: 10px;
border-style: solid;
border-radius: 18px;
color: #f2f2f2;
display: flex;
justify-content: center;
    
}
.text3 {
background-color: #e72626;
font-size: 24px;
margin-left: 50px;
margin-right: 50px;
border-color: #e72626;
border-width: 10px;
border-style: solid;
border-radius: 18px;
color: #f2f2f2;
display: flex;
justify-content: center;
    
}
.text4 {
background-color: #333;
font-size: 21px;
margin-left: 50px;
margin-right: 50px;
border-color: #333;
border-width: 10px;
border-style: solid;
border-radius: 20px;
color: #f2f2f2;
display: flex;
justify-content: center;
    
}



.left {
justify-content: left;
display: flex;
}
.center {
justify-content: center;
display: flex;
}




/* Dropdown Button */
.dropbtn {
background-color: #3bb9e7;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #333;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #3bb9e780;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3bb9e7;}
.docs {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Create three columns of equal width */
.columns {
    float: left;
    width: 580px;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #333;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #3bb9e7;
    color: black;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #333;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #333;
    color: white;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
  .* {
    box-sizing: border-box;
  }
  .textbutton {
    color: #eee;
  }